{{>header}}
<div class="text" style="padding: 0 2.5em;">
    <h1>Hi {{name}},</h1>
    <h2>Welcome on board!</h2>
    <h3>Below is your verification code</h3>
    <p style="font-size: 28px; font-weight: bold; text-align: center;">{{otp}}</p>
</div>
{{>footer}}